h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --activ-color: #2196F3;
  --back-color: #2F303A;
  --text-color: #FFFFFF;
  --opacity-color: rgba(255, 255, 255, 0.6);
  --main-bgcolor: #FFFFFF;
  --section-color: #F5F4FA;
  --btn-hover-color: #188CE8;
  --border-color: #ECECEC;
  --portfolio-border-color: #EEEEEE;
  --shadow-color: rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-activ-color: rgba(0, 0, 0, 0.15);
  --opacitybg-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --icon-bgcolor: rgba(255, 255, 255, 0.1);
  --portfolio-shadow-color: rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --discription-bgcolor: rgba(47, 48, 58, 0.8);
  --btn-color-mode: rgba(0, 0, 0, 0.1)
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-bgcolor);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-top {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;

  padding-top: 24px;
  padding-bottom: 24px
}

.logo-part {
  color: var(--activ-color);
}

.logo.logo-bottom {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0%;
  color: var(--text-color);
}

.list {
  list-style: none;
  display: block;
}

.menu-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  padding: 32px 0;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--activ-color);
}

.current {
  position: relative;
  color: var(--activ-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--activ-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-mail {
  fill: currentColor;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--activ-color);
}

.header-phone {
  fill: currentColor;
}

/* hero  */

.hero {
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;

  background-color: var(--secondary-color);
  background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)),
    url(../images/background-img.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;

  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  background-color: var(--activ-color);
  text-align: center;
  border-radius: 4px;

  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-hover-color);
  box-shadow: 0px 4px 4px var(--shadow-activ-color);
  border-radius: 4px;
}

/* features */

.features-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  width: calc((100% - 90px) / 4);
}

.features-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--section-color);
}

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* discription */
.discription-content {
  padding-bottom: 94px;
}

.discription-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.discription-list {
  display: flex;
  gap: 30px;
}

.discription-item {
  position: relative;
}

.description-img {
  display: block;
}

.discription-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  padding: 27px 5px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background: var(--discription-bgcolor);
  color: var(--main-bgcolor);
}

/* profile */

.profile-unit {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-color);
}

.profile-list {
  display: flex;
  gap: 30px;
  text-align: center;
}

.profile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.profile-item {
  width: 270px;
  background-color: var(--main-bgcolor);
  box-shadow: 0px 1px 3px var(--shadow-color);
  border-radius: 0px 0px 4px 4px;
}

.profile-img {
  display: block;
  margin-bottom: 30px;
}

.profile-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}

.profile-speciality {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-item {
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--text-color);
  background-color: var(--activ-color);
}

/* clients */

.clients-content {
  padding: 94px 0;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.clients-item {
  list-style: none;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: currentColor;
}

.clients-item:hover .clients-link,
.clients-link:focus {
  color: var(--activ-color);
  border: 1px solid var(--activ-color);
}


/* footer  */

.footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-opacity {
  color: var(--opacity-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--activ-color);
}

.footer-contact {
  margin-right: 70px;
}

.call-join {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgcolor);
  margin-bottom: 20px;
}

.join-list {
  margin: 0;
}

.footer-social-link {
  color: var(--main-bgcolor);
  background-color: var(--icon-bgcolor);
}

.icon-social {
  fill: currentColor;
}


/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: var(--section-color);
  padding: 6px 22px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-button:hover,
.portfolio-button:focus {
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--activ-color);
}

.portfolio-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px var(--portfolio-shadow-color);
}

.portfolio-item:hover .portfolio-actions,
.portfolio-link:focus .portfolio-actions {
  transform: translateY(0%);
}

.portfolio-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  color: var(--text-color);
  background-color: var(--activ-color);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  display: block;
}

.portfolio-border {
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-subtitle {
  font-family: 'Roboto';
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--main-bgcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;


  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--btn-color-mode);
  background-color: transparent;
  cursor: pointer;
}